@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
}

body {
    height: 100%;
    background: #fff;
    font-family: 'Lato', sans-serif;
    color: #222;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.hidden {
    display: none;
}

/*---------------------------------------------------------------------------------------*/

.header {
    min-height: 75px;
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-left {
    margin-left: 15px;
}

.head-right {
    margin-right: 15px;
}

.menu {
    display: flex;
    align-items: flex-end;
    list-style: none;
    justify-content: space-between;
    gap: 33px;
}

.menu-link {
    padding: 18px 0;
}

.logo-img {
    margin-right: 8px;
}

.menu-item:hover path {
    fill: #f16d7f;
}

.path__circle,
.path__number,
path {
    transition: all 0.3s;
}

.menu-item:hover .path__circle {
    fill: #fff;
}

.menu-item:hover .path__number {
    fill: #f16d7f;
}

.menu-item:hover .logo-img {
    filter: opacity(0.9) saturate(2);
}

.dropdown-menu__link {
    position: relative;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 43px;
    padding: 32px 0 32px 32px;
    background: #fff;
    z-index: 111;
    width: 232px;
}

/*.drop-head {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

.dropdown-menu a{
    text-decoration: none;
}

.dropdown-menu__title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 24px;
}

.dropdown-menu__heading {
    color: #F16D7F;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 12px;
}

/*.dropdown-menu__heading:hover {*/
/*    text-decoration: #f16d7f underline;*/
/*}*/

.dropdown-menu__item {
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
    padding-left: 22px;
    padding-right: 48px;
    padding-bottom: 11px;
}

.dropdown-menu__item:hover {
    color: #222222;
    font-weight: 600;
}

.dropdown-menu__link:hover .dropdown-menu{
    display: flex;
}

.dropdown-menu__link:active .dropdown-menu{
    display: none;
}

/*.close-btn:active .dropdown-menu{*/
/*    display: none;*/
/*}*/

.top {
    display: flex;
    align-items: center;
    /*background: #afa0a0;*/
    background: linear-gradient(-45deg, #f1e4e6, #efdfce, #efcedf, #f1e4e6);
    background-size: 400% 400%;
    margin-bottom: 65px;
    animation: color 12s infinite linear;
}

.top-img {
    display: flex;
    width: 50%;
    margin-right: 60px;
    margin-bottom: -3px;
}

.top-title {
    display: flex;
    flex-direction: column;
    border-left: 12px solid #ef9aa6;
    padding-left: 16px;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.heading {
    font-size: 32px;
    font-weight: 700;
}

.pink_text {
    color: #f16d7f;
}


.offer {
    display: grid;
    grid-gap: 30px;
    margin-bottom: 96px;
    margin-right: 8px;
    margin-left: 8px;
}

.offer-card {
    display: flex;
    grid-column: span 4;
}

.card-big {
    grid-column: span 12;
}

.offer-link {
    position: relative;
    transition: all 0.3s;
}


.offer-img {
    filter: brightness(0.7);
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.offer-text {
    background-color: rgba(33, 22, 22, 0.50);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer-desc {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.offer-title {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
}


.offer-link:hover {
    opacity: 0.9;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

/*---------------------------------------------------------------------------------------*/


.products {
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 95px;
}

.products-title {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 6px;
    text-align: center;
}

.products-text {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 48px;
    text-align: center;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
}

.product-card {
    position: relative;
    width: 31%;
    background-color: #F8F8F8;
    margin-bottom: 30px;
}

.product-link {
    display: block;
    transition: all 0.3s;
}

.product-link:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
}

.product-img {
    width: 100%;
}

.product-img {
    transition: all 0.3s;
}

.product-card:hover .product-img {
    filter: brightness(0.4);
    opacity: 0.8;
}

.product-content {
    padding: 24px 16px;
}

.card-title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 16px;
}

.card-text {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 16px;
}

.card-price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.add_to_cart {
    display: flex;
    text-decoration: none;
    position: absolute;
    top: 32%;
    justify-content: center;
    width: 100%;
    pointer-events: none;
}

.add-btn {
    display: none;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    transition: all 0.3s;
}

.cart_add {
    margin-right: 10px;
}

.add-text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.cart_add path {
    transition: all 0.2s;
}

.add-btn:hover .cart_add path {
    fill: #F16D7F;
}

.product-card:hover .add-btn {
    display: flex;
    transition: all 0.2s;
}

.add-btn:hover {
    box-shadow: 0 0 5px #fff;
}

.product-btn {
    text-align: center;
}

.product-all {
    padding: 15px 39px;
    color: #F26376;
    border: 1px solid #F26376;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s;
}

.product-all:hover {
    color: #fff;
    background-color: #F26376;
    border: 1px solid #F26376;
}


.features {
    background: #222222;
}

.features-cards {
    display: flex;
    align-items: flex-end;
    gap: 30px;
    padding: 104px 0;
}

.feature-card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.feature-img {
    margin-bottom: 28px;
}

.feature-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature-title {
    color: #FBFBFB;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 16px;
}

.feature-text {
    color: #FBFBFB;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    max-width: 85%;
}

.subscribe {
    text-align: center;
}

.subscribe-bg {
    background-image: linear-gradient(to top, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)),
    url("img/back_subscribe.png");
    background-repeat: no-repeat;
    background-position: 25% 75%;
    background-size: cover;
}

.subscribe-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 446px;
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.subscribe-quote {
    margin-left: 8px;
    /*width: 31%;*/
    max-width: 360px;
}

.quote_italic {
    font-style: italic;
}

.quote-img {
    margin-bottom: 30px;
    filter: opacity(1);
}

.quote {
    color: #222222;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    max-width: 360px;
}

.subscribe-form {
    margin-right: 8px;
}

.subscribe-title {
    color: #222222;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
    /* 40.128px */
}

.subscribe-text {
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    line-height: 167.2%;
    margin-bottom: 32px;
}

.form {
    display: flex;
    justify-content: center;
}

.email-input {
    padding: 7px 56px 7px 22px;
    border-radius: 25px 0 0 25px;
    border: 1px solid transparent;
    box-sizing: border-box;
    outline: none;
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    transition: all 0.3s;
}

.email-input:hover {
    border: 1px solid #e0e0e0;
}

.email-btn {
    border: 2px solid transparent;
    border-radius: 0 25px 25px 0;
    width: 108px;
    height: 49px;
    padding-left: 8px;
    background: #F16D7F;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    transition: all 0.3s;
}

.email-btn:hover {
    color: #f18090;
    border: 2px solid #efb0b8;
    background: #fff;
}


.footer {
    min-height: 75px;
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}

.social-icons {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 32px);
    gap: 7px;
    margin-right: 10px;
}

.icon-btn:hover .path__bg {
    fill: #F16D7F;
}

.on-top-btn {
    display: block;
    position: fixed;
    z-index: 11;
    bottom: 85px;
    right: 10px;
    padding: 15px;
    border-radius: 2px;
    color: #fff;
    background-color: #F16D7F;
}

.on-top-btn:hover {
    cursor: pointer;
    filter: brightness(1.2) saturate(1.5);
}

@media (max-width: 1260px) {

    .dropdown-menu {
        left: calc(50vw - 54.7vw);
    }
}


@media (max-width: 1024px) {

    .offer {
        grid-gap: 20px;
    }

    .title {
        font-size: 44px;
    }

    .heading {
        font-size: 24px;
    }

    .product-card {
        width: 49%;
    }

    .features-cards {
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding-top: 48px;
        padding-bottom: 16px;
    }

    .feature-card {
        max-width: 360px;
        margin-bottom: 48px;
    }

    .subscribe-content {
        flex-direction: column;
        justify-content: center;
        min-height: 614px;
    }

    .subscribe-quote {
        max-width: 343px;
        margin-left: 0;
    }

    .quote-img {
        margin-top: 64px;
    }

    .quote {
        margin-bottom: 48px;
    }

    .subscribe-form {
        margin-bottom: 140px;
        margin-right: 0;
        max-width: 360px;
    }

    .dropdown-menu {
        left: -7vw;
    }

}

@media (max-width: 768px) {

    .hide {
        display: none;
    }

    .top {
        min-height: 363px;
        justify-content: center;
    }

    .top-img {
        display: none;
    }

    .title {
        font-size: 38px;
    }

    .heading {
        font-size: 20px;
    }

    .offer {
        justify-content: center;
    }

    .offer-card {
        grid-column: span 1;
    }

    .offer-link {
        width: 100%;
    }

    .offer-img {
        width: 100%;
    }

    .product-card {
        width: 100%;
    }

    .quote {
        font-size: 18px;
    }

    .subscribe-text {
        font-size: 14px;
    }

    .email-btn {
        height: 47px;
    }

    .email-input {
        padding: 7px 36px 7px 18px;
    }

    .email-btn {
        width: 96px;
        padding-left: 6px;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .copyright {
        margin-bottom: 10px;
    }

    .social-icons {
        margin-top: 43px;
        margin-bottom: 40px;
    }

    .dropdown-menu {
        top: 50px;
        left: -27vw;
    }

}

@media (max-width: 688px) {
    .dropdown-menu {
        left: -31vw;
    }
}
@media (max-width: 608px) {
    .dropdown-menu {
        left: -35vw;
    }
}
@media (max-width: 528px) {
    .dropdown-menu {
        left: -39vw;
    }
}
@media (max-width: 472px) {
    .dropdown-menu {
        left: -45vw;
    }
}
@media (max-width: 412px) {
    .dropdown-menu {
        left: -51vw;
    }
}

@media (max-width: 412px) {
    .dropdown-menu {
        left: -57vw;
    }
}

@media (max-width: 320px) {

    .email-input {
        padding: 7px 28px 7px 12px;
        font-size: 12px;
    }

    .email-btn {
        width: 82px;
        padding-left: 4px;
        font-size: 12px;
    }

}